<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>Manager for SOAP/JSON-RPC Adapter</display-name>

	<servlet>
		<servlet-name>AdapterManagerServlet</servlet-name>
		<servlet-class>de.rwth.idsg.manager.AdapterManagerServlet</servlet-class>
	</servlet>

	<!-- Define the Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>AdapterManagerServlet</servlet-name>
		<url-pattern>/main/*</url-pattern>
	</servlet-mapping>

	<!-- Define a Security Constraint on this Application -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Adapter Manager interface </web-resource-name>
			<url-pattern>/main/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Define the Login Configuration for this Application -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Adapter Manager Application</realm-name>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<description>The role that is required to access the Adapter Manager pages</description>
		<role-name>admin</role-name>
	</security-role>

</web-app>
