@CHARSET "UTF-8";

body {
	background-color: #F6f4f0;
	font-size: 12px;
	font-family:Arial,sans-serif;
	padding: 0;
	margin: 0;
}

.head a:link, a:visited {color: white; text-decoration: none}
.head a:hover, a:active {color: #D9AC80; text-decoration: none}

a:link, .alignLeft a:visited {color: black; text-decoration: underline}
a:hover, .alignLeft a:active {color: #8F5317; text-decoration: underline}

table {
	width: 60%;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	color: black;
	padding: 0px;
	background-color: #DBD8CC;
	border-radius: 4px;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

table th {
	padding: 6px 10px 6px 10px;
	font-size: 14px;
	text-align: left;
	border-bottom: 1px solid gray;
	color: white;
	background-color: #4A4745;
}


table.head {
	color: white;
	background-color: #4A4745;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

table.apps {
	width: 100%;
	border-collapse: collapse;
	background-color: #DBD8CC;
	text-align: center;
}

table.apps th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
	color: black;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	background: #A6A397;
	/*background-image: linear-gradient(rgb(147,172,134),rgb(68,109,90)); */
}

table.apps td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: gray;	
}

table.apps tr:nth-child(odd) {
	background-color: #F6f4f0;
}

table.apps tr:nth-child(even) {
	background-color: #DBD8CC;
}

table.deploy {
	width: 80%;
	border-width: 0px;
	padding-bottom: 12px;
	padding-top: 12px;
}


input[type="text"] {
	font-size: 12px;
	font-family:Arial,sans-serif;
	width: 100%;
	padding-bottom: 2px;
	padding-top: 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input[type="submit"] { 
	font-size: 12px; 
	font-family:Arial,sans-serif;
}

form.inline {
	display: inline;
}

td.deployRows {
	text-align: right;
	width: 230px;
	padding-right: 15px;
}

td.fixedWidth {
	width: 1px;
	white-space: nowrap;
}

td.noApps {
	padding-top:12px;
	padding-bottom:12px;
	text-align: center;
	font-style: italic;
	font-size: 16px;
}

td.alignLeft {
	text-align: left;
}

td.messageTitle{
	width: 120px;
	color: white;
	font-weight: bold;
	background-color: #4A4745;
	text-align: center;
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
}

td.message{
	padding-left: 10px;
}